*.aux
*.log
AIIDE Submission/AnonymousSubmission/anonymous-submission-latex-2024.synctex.gz
AIIDE Submission/AnonymousSubmission/main.blg
AIIDE Submission/AnonymousSubmission/main.gz
AIIDE Submission/AnonymousSubmission/main.synctex.gz
AIIDE Submission/AnonymousSubmission/main.pdf
AIIDE Submission/AnonymousSubmission/main.out
